<div *ngIf="show">
    <div>
        <button
            clTooltip="my frist tooltip"
            (click)="show = false"
        >
            click me!
        </button>
    </div>

    <div>
        <button clTooltip="my second tooltip">click me!</button>
    </div>
    <div>
        <button clTooltip="my 2 tooltip">click me!</button>
    </div>
    <div>
        <button clTooltip="my 3 tooltip">click me!</button>
    </div>
    <div>
        <button clTooltip="my 4 tooltip">click me!</button>
    </div>
    <div>
        <button clTooltip="my 5 tooltip">click me!</button>
    </div>
    <div>
        <button clTooltip="my 6 tooltip">click me!</button>
    </div>
    <div>
        <button clTooltip="my 7 tooltip">click me!</button>
    </div>
    <div>
        <button clTooltip="my 8 tooltip">click me!</button>
    </div>
</div>
<div class="right">
    <button clTooltip="my 9 tooltip">click me!</button>
</div>
