<div class="navigate">
    <a
        clTooltip="my 2 tooltip"
        [routerLink]="ROUTES.home"
    >
        home
    </a>
    <a
        clTooltip="my 2 tooltip"
        [routerLink]="ROUTES.loadFile"
    >
        load file
    </a>
    <a
        clTooltip="my 2 tooltip"
        [routerLink]="ROUTES.tree"
    >
        tree
    </a>
    <a
        clTooltip="my 2 tooltip"
        [routerLink]="ROUTES.tooltip"
    >
        tooltip
    </a>
    <a
        clTooltip="my 2 tooltip"
        [routerLink]="ROUTES.scroll"
    >
        scroll
    </a>
    <a
        clTooltip="my 2 tooltip"
        [routerLink]="ROUTES.biWindow"
    >
        bi window
    </a>
    <a [routerLink]="ROUTES.header">header style</a>
</div>
