<ul class="treenodes">
    <li
        *ngFor="let node of nodes"
        class="treenode"
    >
        <i
            *ngIf="node.children && !node.isExpanded"
            class="angle fas fa-angle-right"
            (click)="onExpand(node)"
        ></i>
        <i
            *ngIf="node.children && node.isExpanded"
            class="angle fas fa-angle-down"
            (click)="onExpand(node)"
        ></i>
        <input
            type="checkbox"
            [checked]="node.selected"
            (change)="node.selected = !node.selected; onSelectNode(node)"
            [ngClass]="{'node button fa fa-': true, 'minus': node.isExpanded, 'plus': !node.isExpanded, '-square-o': true}"
        >
        <div class="nodeinfo">
            <cl-node-element
                [node]="node"
                [highLightText]="highLightText"
            ></cl-node-element>

            <cl-tree-view
                *ngIf="node.isExpanded"
                [nodes]="node.children"
                [selectedNode]="selectedNode"
                [highLightText]="highLightText"
                (selectedChanged)="onSelectNode($event)"
                (selectedParentChanged)="selectParent(node)"
            >

            </cl-tree-view>
        </div>
    </li>
</ul>
