<div class="header">
    <div class="search header-item">
        <input type="search">
    </div>
    <div class="handlers header-item">
        <div class="handler-item">handler 1</div>
        <div class="handler-item">handler 2</div>
        <div class="handler-item">handler 3</div>
        <div class="handler-item">handler 4</div>
    </div>
    <div class="datasets header-item">
        <div class="datasets-info">
            <div class="text">{{text}}</div>
            <div class="data-toggler">
                <div class="data-state">local</div>
                <div class="data-state">remote</div>
            </div>
        </div>
    </div>
    <div class="users header-item">
        users
        <div class="user-icon">
            user-icon ghghghghghghhghghghghghhghghghghgh
        </div>
    </div>
</div>
